appnope==0.1.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
boto==2.39.0
bz2file==0.98
certifi==2015.11.20.1
click==6.3
cloudpickle==0.2.1
cycler==0.10.0
cymem==1.31.0
decorator==4.0.9
functools32==3.2.3.post2
gensim==0.12.4
gnureadline==6.3.3
httpretty==0.8.10
ipykernel==4.3.0
ipython==4.1.1
ipython-genutils==0.1.0
ipywidgets==4.1.1
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.1
jupyter-core==4.0.6
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.1
murmurhash==0.26.1
nbconvert==4.1.0
nbformat==4.0.1
notebook==4.1.0
numpy==1.10.4
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
plac==0.9.1
preshed==0.46.2
protobuf==3.0.0b2
ptyprocess==0.5.1
Pygments==2.1.1
pyparsing==2.1.0
python-dateutil==2.4.2
pytz==2015.7
pyzmq==15.2.0
qtconsole==4.2.0
requests==2.8.1
scikit-learn==0.17.1
scipy==0.17.0
semver==2.4.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
smart-open==1.3.2
spacy==0.100.5
sputnik==0.8.3
tensorflow==0.7.1
terminado==0.6
text-unidecode==1.0
thinc==5.0.5
tornado==4.3
traitlets==4.1.0
ujson==1.35
wheel==0.29.0
